.toaster-cont {
  position: absolute;
  top: -5%;
  left: 42%;
  transition: top 0.8s ease-in-out;
}

.toaster-cont div {
  color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 8px;
}

.visible-toaster {
  top: 5%;
}

.toaster-success {
  background: green;
}

.toaster-error {
  background: red;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: #fffbf1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 25%;
  background: #fff1cd;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-head {
  font-weight: 600;
  font-size: 1.3em;
}

.login-input-cont {
  margin: 1em 0;
}

.login-input-cont input {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 8px;
  border: none;
}

.login-button {
  width: 100%;
  cursor: pointer;
  color: #fff1cd;
  padding: 0.5em;
  text-align: center;
  border-radius: 8px;
  background: #000000;
}

.forgot-pass-cont {
  margin-top: 0.5em;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background: #fffbf1;
}

.home-header {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  padding: 1em 0;
  justify-content: center;
}

.header-inner-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  background: #fff1cd;
  border-radius: 100px;
  padding: 1em;
}

.header-inner-cont div,
.header-inner-cont a {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.crop-outer-container {
  height: 75%;
}

.crop-head-cont {
  width: 100%;
  height: 10%;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 5em;
  justify-content: space-between;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="search"] {
  border: none;
  border-radius: 10px;
  background: #000000;
  color: #ffffff;
  padding: 10px 10px 10px 32px;
  flex-grow: 1;
}

.search-wrapper::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6a625b;
  pointer-events: none;
}

.crop-main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 85% !important;
  overflow: auto;
  margin-top: 1em;
  pad: 0 3em;
  width: 100%;
  height: 100%;
}

.crop-card-cont {
  background: #fff1cd;
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  border-radius: 8px;
  margin: 0 1em 1.5em 1em;
  padding: 0.5em;
}

.crop-image-cont {
  display: flex;
  height: 13em;
  align-items: center;
  justify-content: center;
  background: #fffbf1;
}

.crop-card-cont:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.crop-card-cont img {
  width: 70%;
}

.crop-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crop-modal-cont {
  background: #fff1cd;
  padding: 2em 1em 1em 1em;
  opacity: 1;
  z-index: 101;
  position: relative;
  width: 50%;
}

.crop-modal-cont div {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crop-modal-cont div img {
  width: 90%;
  height: 90%;
}

.crop-modal-cont span {
  position: absolute;
  top: 1%;
  right: 3%;
  cursor: pointer;
}

.pagination-cont {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container {
  display: flex;
  border-radius: 4px;
  margin: 0;
}

.page-item {
  margin: 0.5em;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.3em 0;
  text-align: center;
}

.page-link {
  width: 100%;
  height: 100%;
  padding: 0 0.5em;
}

.page-item::marker {
  display: none;
  color: transparent;
}

.page-item-break {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.page-item-prev,
.page-item-next {
  background: #fff1cd;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.active-page-item {
  background: #fff1cd;
}

.disabled-page-item {
  cursor: not-allowed;
  background: #ccc;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fffbf1;
}

::-webkit-scrollbar-thumb {
  background-color: #bf8a00;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .login-container {
    width: 50%;
  }

  .header-inner-cont {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .login-container {
    width: 80%;
  }

  .crop-head-cont {
    justify-content: center;
    .type-head {
      display: none;
    }
  }

  .crop-modal-cont {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .pagination-cont {
    display: none;
  }

  .crop-outer-container {
    height: 83%;
  }

  .header-inner-cont {
    width: 100%;
    border-radius: 0;
    font-size: 0.7em;
  }
}
